/* ---------------------------------------------------
  Styles Used By All Pages
--------------------------------------------------- */
/* Color Vars */
html {
  scroll-behavior: smooth;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar {
  width: 0.5rem !important;
}
body::-webkit-scrollbar-track {
  background: #ffffff !important;
}
body::-webkit-scrollbar-thumb {
  background: #1b222c !important;
}

#footer {
  text-align: center;
}
#footer #footer_divider {
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 0.5em;
  color: white;
}
#footer p {
  color: grey;
  margin-top: 0em;
  margin-bottom: 0.25em;
}

a {
  text-decoration: none;
}
a:hover {
  color: #4756df;
}

/* Page Loading Animation */
.loading {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: margin-left 0.5s;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---------------------------------------------------
  FAQ Section
--------------------------------------------------- */
.navbar {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}
.navbar .nav-item {
  list-style-type: none;
  margin: 1.25rem 0;
}
.navbar .nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #28313b;
}
.navbar .nav-logo {
  font-size: 2.1rem;
  color: #28313b;
  cursor: default;
}
.navbar #nav-logo {
  text-decoration: none !important;
  color: #2c3e50;
}

#about,
#sources {
  margin-top: 1.5em;
}
#about h1,
#sources h1 {
  margin-bottom: 0em;
  text-align: center;
}
#about h4,
#sources h4 {
  margin-bottom: 0em;
  margin-top: 1.5em;
  text-align: left;
}
#about p,
#sources p {
  margin-bottom: 0em;
  margin-top: 0.5em;
  text-align: left;
}
#about ul,
#sources ul {
  margin-top: 1em;
}
#about .question,
#sources .question {
  margin-top: 1em;
  margin-bottom: 0em;
}
#about .answer,
#sources .answer {
  margin-top: 1em;
  margin-bottom: 1em;
}
#about #contact,
#sources #contact {
  margin-bottom: 2em;
}
#about #contact h2,
#sources #contact h2 {
  margin-top: 1em;
  margin-bottom: 0em;
}
#about #contact p,
#sources #contact p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#flowchart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
}

#intro {
  text-indent: 30px;
}

.divider {
  margin-bottom: 0.5em;
}

#top_divider {
  margin-bottom: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.sub_divider {
  margin-right: 40%;
  margin-bottom: 0.5em;
}

/* ---------------------------------------------------
    MOBILE & TABLET RESPONSIVENESS
--------------------------------------------------- */
@media only screen and (max-width: 1440px) {
  #flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
  }
}
/* Tablets */
@media only screen and (max-width: 820px) {
  #flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }
}
/* Mobile */
@media only screen and (max-width: 428px) {
  #flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
  }
}/*# sourceMappingURL=about.css.map */